/* NAVEGACION */

div.container.barra {
    position: sticky;
    top: 0;

    a {
        transition: all 0.5s;
        &:hover {
            background-color: rgba(98, 94, 94, 0.615);
            border: 2px solid white;
            border-radius: 5px;
            transform: scale(1.02);
        }
    }

    

    form.d-flex {
        flex-direction: row;
        border: none;
    }
}

